 /** Form styles **/
 
.filter {
	&__search-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input {
		background-color: #fff;
		border-radius: 16px;
		margin: 0 auto;
		padding: 10px;
		width: 100%;
		box-shadow: 0 10px 20px 0 rgba(42, 87, 154, .07);
		border: 2px solid #e5e7eb;

		&:focus {
			border: 2px solid #a7a9ab;
		}
	}

	label {
		margin-bottom: 1rem;
	}
}