 /** Form styles **/
 
.filter {
	&__search-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input {
		background-color: $white;
		border-radius: 1rem;
		margin: 0 auto;
		padding: 0.625rem;
		width: 100%;
		box-shadow: 0 0.625rem 1.25rem 0 rgba(42, 87, 154, .07);
		border: 2px solid $light-gray;

		&:focus {
			border: 2px solid $dark-gray;
		}
	}

	label {
		margin-bottom: 1rem;
	}
}